/**
* @name DisCourierPrime
* @author Fungustober
* @description Want to make your Discord Courier Prime? Well now you can.
* @version 1.0.0
* @source https://github.com/Fungustober/DisCourierPrime
*/

:root {
    --font-primary: "Courier Prime", "gg sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
    --font-display: "Courier Prime", "gg sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

/*
*I sure hope it's not important for these files to be different because I don't know what I'm doing
*/

@font-face {
    font-family: "Courier Prime";
    font-style: normal;
    font-weight: 300;
    src: url("https://cdn.jsdelivr.net/gh/fungustober/discourierprime/fonts/CourierPrime-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Courier Prime";
    font-style: italic;
    font-weight: 300;
    src: url("https://cdn.jsdelivr.net/gh/fungustober/discourierprime/fonts/CourierPrime-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Courier Prime";
    font-style: normal;
    font-weight: 400;
    src: url("https://cdn.jsdelivr.net/gh/fungustober/discourierprime/fonts/CourierPrime-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Courier Prime";
    font-style: italic;
    font-weight: 400;
    src: url("https://cdn.jsdelivr.net/gh/fungustober/discourierprime/fonts/CourierPrime-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Courier Prime";
    font-style: normal;
    font-weight: 500;
    src: url("https://cdn.jsdelivr.net/gh/fungustober/discourierprime/fonts/CourierPrime-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Courier Prime";
    font-style: italic;
    font-weight: 500;
    src: url("https://cdn.jsdelivr.net/gh/fungustober/discourierprime/fonts/CourierPrime-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Courier Prime";
    font-style: normal;
    font-weight: 600;
    src: url("https://cdn.jsdelivr.net/gh/fungustober/discourierprime/fonts/CourierPrime-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Courier Prime";
    font-style: italic;
    font-weight: 600;
    src: url("https://cdn.jsdelivr.net/gh/fungustober/discourierprime/fonts/CourierPrime-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Courier Prime";
    font-style: normal;
    font-weight: 700;
    src: url("https://cdn.jsdelivr.net/gh/fungustober/discourierprime/fonts/CourierPrime-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Courier Prime";
    font-style: italic;
    font-weight: 700;
    src: url("https://cdn.jsdelivr.net/gh/fungustober/discourierprime/fonts/CourierPrime-Italic.woff2") format("woff2");
}
